@import "variables";
@import "mixins";

@font-face {
  font-family: 'Century-Gothic';
  src: url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Century-Gothic';
  src: url('../fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding: 0 20px;
  background-color: $bgColor;
  background-image: url('../img/bg-mobile.png');
  background-repeat: no-repeat;
}


//HEADER PART
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &_logo {
    display: flex;
    margin: 45px 0 56px;

    img {
      max-width: 155px;
    }
  }
}


//SECTION_1 PART
.sec_1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &_article {
    display: flex;
    flex-direction: column;

    &_tokners {
      margin-bottom: 10px;
      @include font(14px, 700, 24px);
      background: -webkit-linear-gradient(#00b4ec, #2b3087);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h1 {
      margin-bottom: 20px;
      @include font(36px, 700, 40px);
    }

    &_text {
      margin-bottom: 30px;
      @include font(14px, 400, 22px, #DDE2FF);
      opacity: 0.6;
    }

    &_link {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 147px;
      height: 48px;
      background-color: $C-1;
      border-radius: 52px;
      @include box-shadow($C-1o);

      &_button {
        @include font(14px, 700, 17px);
        text-decoration: none;
      }
    }
  }

  &_picture {
    display: flex;
    justify-content: center;
    margin-top: -110px;

    img {
      z-index: 0;
    }
  }
}


//SECTION_1 PART
.sec_2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  &_block1 {
    margin-bottom: 10px;
    padding: 30px 30px 42px;
    background-color: $C-5;
    border-radius: 25px;

    &_figure {
      display: flex;
      max-width: 70px;
      margin-bottom: 10px;
      background-color: $C-1;
      border-radius: 50%;
      @include box-shadow($C-1o);

      &_icon {
        padding: 25px 23px;
      }
    }

    &_article {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &_heading {
        @include font(28px, 700, 54px);
        margin-bottom: 10px;

        span {
          text-decoration: underline;
          color: $C-1;
        }
      }

      &_text {
        @include font(16px, 400, 24px);
        opacity: 50%;
      }
    }

    &_link {
      display: flex;
      flex-direction: row;

      span {
        margin-right: 6px;
        @include font(15px, 700, 17px, $C-1);
        text-decoration: underline;
      }

      img {
        margin-bottom: -3px;
      }
    }
  }

  &_block2 {
    padding: 30px 30px 42px;
    background-color: $C-5;
    border-radius: 25px;

    &_figure {
      display: flex;
      max-width: 70px;
      margin-bottom: 10px;
      background-color: $C-2;
      border-radius: 50%;
      @include box-shadow($C-2o);

      &_icon {
        padding: 25px 23px;
      }
    }

    &_article {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &_heading {
        @include font(28px, 700, 54px);
        margin-bottom: 10px;

        span {
          text-decoration: underline;
          color: $C-2;
        }
      }

      &_text {
        @include font(16px, 400, 24px);
        opacity: 50%;
      }
    }

    &_link {
      display: flex;
      flex-direction: row;

      span {
        margin-right: 6px;
        @include font(15px, 700, 17px, $C-2);
        text-decoration: underline;
      }

      img {
        margin-bottom: -3px;
      }
    }
  }
}
