@import "variables";
@import "mixins";

@font-face {
  font-family: 'Century-Gothic';
  src: url('../fonts/CenturyGothic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Century-Gothic';
  src: url('../fonts/CenturyGothic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  background-color: $bgColorMain;
  background-image: url('../img/bg-mobile.png');
  background-repeat: no-repeat;
}

img {
  width: 100%;
  height: auto;
}


//HEADER PART
.header {
  @include margins(0 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &_logo {
    display: flex;
    margin: 45px 0 56px;

    img {
      max-width: 155px;
    }
  }
}


//SECTION_1 PART
.sec_1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &_article {
    @include margins(0 20px);
    display: flex;
    flex-direction: column;

    &_tokners {
      @include font(14px, 700, 24px);
      margin-bottom: 10px;
      background: -webkit-linear-gradient(#00b4ec, #2b3087);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h1 {
      @include font(36px, 700, 40px);
      margin-bottom: 20px;
    }

    &_text {
      @include font(14px, 400, 22px, #DDE2FF);
      margin-bottom: 30px;
      opacity: 0.6;
    }

    &_link {
      @include box-shadow($C-1o);
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 147px;
      height: 48px;
      background-color: $C-1;
      border-radius: 52px;

      &_button {
        @include font(14px, 700, 17px);
        text-decoration: none;
      }
    }
  }

  &_picture {
    display: flex;
    justify-content: center;
    margin-top: -110px;

    img {
      z-index: 0;
    }
  }
}


//SECTION_2 PART
.sec_2 {
  @include margins(0 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  &_block1 {
    margin-bottom: 10px;
    padding: 30px 30px 42px;
    background-color: $bgC-Grey;
    border-radius: 25px;

    &_figure {
      @include circle($C-1);
      @include box-shadow($C-1o);

      &_icon {
        padding: 25px 23px;
      }
    }

    &_article {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &_heading {
        @include font(28px, 700, 54px);
        margin-bottom: 10px;

        span {
          text-decoration: underline;
          color: $C-1;
        }
      }

      &_text {
        @include font(16px, 400, 24px);
        opacity: 50%;
      }
    }

    &_link {
      display: flex;
      flex-direction: row;

      span {
        @include font(15px, 700, 17px, $C-1);
        margin-right: 6px;
        text-decoration: underline;
      }

      &_img {
        display: flex;
      }

      img {
        margin-bottom: -3px;
      }
    }
  }

  &_block2 {
    padding: 30px 30px 42px;
    background-color: $bgC-Grey;
    border-radius: 25px;

    &_figure {
      @include box-shadow($C-2o);
      @include circle($C-2);

      &_icon {
        padding: 25px 23px;
      }
    }

    &_article {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &_heading {
        @include font(28px, 700, 54px);
        margin-bottom: 10px;

        span {
          text-decoration: underline;
          color: $C-2;
        }
      }

      &_text {
        @include font(16px, 400, 24px);
        opacity: 50%;
      }
    }

    &_link {
      display: flex;
      flex-direction: row;

      span {
        @include font(15px, 700, 17px, $C-2);
        margin-right: 6px;
        text-decoration: underline;
      }

      &_img {
        display: flex;
      }

      img {
        margin-bottom: -3px;
      }
    }
  }
}


//SECTION_3 PART
.sec_3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;

  &_picture {
    display: flex;
    justify-content: center;
  }

  &_block2 {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    border-radius: 0 125px 0 0;
    background-color: $bgC-White;

    h2 {
      @include font(36px, 700, 40px, $C-5);
      display: flex;
      flex-wrap: wrap;
      max-width: 260px;
      margin-bottom: 30px;
    }

    span {
      @include font(14px, 700, 20px, $C-5);
      display: flex;
      margin-bottom: 20px;
      opacity: 0.6;
    }

    p {
      @include font(14px, 400, 24px, $C-5);
      opacity: 0.6;
    }
  }
}


//SECTION_4 PART
.sec_4 {
  @include margins(0 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;

  &_block1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;

    &_top {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &_figure {
        @include figure($C-1);
        @include box-shadow($C-1o);

        span {
          @include font(26px, 700, 36px, $C-5)
        }
      }

      &_dot-text {
        display: flex;
        flex-direction: column;
        margin-top: 44px;

        &_dot {
          @include dot($C-1)
        }

        span {
          @include font(18px, 700, 36px);
        }
      }
    }

    &_text {

      ol {
        counter-reset: item;
        list-style-type: none;
      }

      li {
        display: flex;
        @include font(18px, 400, 34px);
        opacity: 0.7;
        list-style-position: inside;

        &:before {
          @include font(12px, 700, 34px, $C-1);
          content: counter(item, decimal-leading-zero) " ";
          counter-increment: item;
          margin-right: 11px;
        }
      }
    }
  }

  &_block2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;

    &_top {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &_figure {
        @include figure($C-2);
        @include box-shadow($C-2o);

        span {
          @include font(26px, 700, 36px, $C-5)
        }
      }

      &_dot-text {
        display: flex;
        flex-direction: column;
        margin-top: 44px;

        &_dot {
          @include dot($C-2)
        }

        span {
          @include font(18px, 700, 36px);
        }
      }
    }

    &_text {

      ol {
        counter-reset: item;
        list-style-type: none;
      }

      li {
        display: flex;
        @include font(18px, 400, 34px);
        opacity: 0.7;
        list-style-position: inside;

        &:before {
          @include font(12px, 700, 34px, $C-2);
          content: counter(item, decimal-leading-zero) " ";
          counter-increment: item;
          margin-right: 11px;
        }


      }
    }
  }

  &_block3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;

    &_top {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &_figure {
        @include figure($C-3);
        @include box-shadow($C-3o);

        span {
          @include font(26px, 700, 36px, $C-5)
        }
      }

      &_dot-text {
        display: flex;
        flex-direction: column;
        margin-top: 44px;

        &_dot {
          @include dot($C-3)
        }

        span {
          @include font(18px, 700, 36px);
        }
      }
    }

    &_text {

      ol {
        counter-reset: item;
        list-style-type: none;
      }

      li {
        display: flex;
        @include font(18px, 400, 34px);
        opacity: 0.7;
        list-style-position: inside;

        &:before {
          @include font(12px, 700, 34px, $C-3);
          content: counter(item, decimal-leading-zero) " ";
          counter-increment: item;
          margin-right: 11px;
        }
      }
    }
  }

  &_block4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;

    &_top {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &_figure {
        @include figure($C-4);
        @include box-shadow($C-4o);

        span {
          @include font(26px, 700, 36px, $C-5)
        }
      }

      &_dot-text {
        display: flex;
        flex-direction: column;
        margin-top: 44px;

        &_dot {
          @include dot($C-4)
        }

        span {
          @include font(18px, 700, 36px);
        }
      }
    }

    &_text {

      ol {
        counter-reset: item;
        list-style-type: none;
      }

      li {
        display: flex;
        @include font(18px, 400, 34px);
        opacity: 0.7;
        list-style-position: inside;

        &:before {
          @include font(12px, 700, 34px, $C-4);
          content: counter(item, decimal-leading-zero) " ";
          counter-increment: item;
          margin-right: 11px;
        }
      }
    }
  }


}
